dist
db.sqlite3

venv
local_settings.py
bboard/bboard/settings.py
*/bboard/bboard/settings.py

**/migrations/**
!**/migrations
!**/migrations/__init__.py
__pycache__/
*/__pycache__/
*.py[cod]
.py~
*.py~
.pyc
*.pyc
media/*
.html~
*.html~
bboard/templates/callboard/advert-detail.html~
*/bboard/templates/callboard/advert-detail.html~
*/.#*.py#
*/#*.py#
/.#*.py#
/#*.py#

.Ds_Store
*.egg-info/
.installed.cfg
*.egg
