dist
db.sqlite3

venv
local_settings.py
settings.py
*settings.py

**/migrations/**
!**/migrations
!**/migrations/__init__.py
__pycache__/
*/__pycache__/
*.py[cod]
.py~
*.py~
.pyc
*.pyc
media/*

.Ds_Store
*.egg-info/
.installed.cfg
*.egg
